footer {
    background-color: var(--titulo);
    color: white;
}

.join-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt-footer {
    width: 50%;
}

.txt-footer h1{
    font-size: 2em;
    margin-bottom: 15px;
}

.butoes-footer {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.botao-join {
    padding: 20px 45px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.botao-rx-footer {
    color: white;
    background-color: var(--roxo2);
    transition: var(--transition1);
}

.botao-rx-footer:hover {
    background-color: white;
    color: var(--roxo2);
}

.botao-br-footer {
    background-color: white;
    color: var(--roxo2);
    transition: var(--transition1);
}

.botao-br-footer.botao-br-footer:hover {
    color: white;
    background-color: var(--roxo2);
    
}

#separacao {
    margin: 30px 0;
}

.info-finais {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 2fr;
    grid-row: auto;
    column-gap: 50px;
    height: 250px;
}

.about-company-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--roxo2);
    border-radius: 30px;
}

.txt-about-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68%;
}

.txt-about-footer h1 {
    font-size: 1.25em;
}

.redes-sociais-footer {
    display: flex;
    justify-content: space-between;
    width: 55%;
}


.redes-sociais-footer img {
    width: 35px;
    height: 35px;
    padding: 9px;
    border: 2px solid white;
    border-radius: 100%;
}

.redes-sociais-footer a {
    display: flex;
}

.quick-links h2 {
    height: 20%;
}

.quick-links ul{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.quick-links a {
    text-decoration: none;
    color: white;
}

.quick-links a:hover {
    text-decoration: underline;
}

.download-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.txt-download {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
}

.botao-download {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41%;
    height: 45%;
    text-align: center;
}

.botao-download a {
    padding: 15px 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.botao-download img {
    width: 19px;
    height: 19px;
    margin-right: 5px;
}

#app-store {
    background-color: var(--roxo2);
    color: white;
}

#play-store {
    background-color: white;
}

@media screen and (min-width: 800px) and (max-width: 1125px) {
    footer {
        height: auto;
    }

    .join-now {
        align-items: end;
    }

    .txt-footer {
        width: 65%;
    }

    .info-finais {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .butoes-footer {
        flex-direction: column;width: 30%;
        height: 120px;
    }

    .botao-join {
        text-align: center;
        padding: 17px 38px;
    }

    .download-app {
        display: none;
    } 

    .redes-sociais-footer {
        width: 65%;
    }

    .redes-sociais-footer img {
        width: 40px;
        height: 40px;

    }
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    footer {
        
    }

    .join-now {
        display: flex;
        flex-direction: column;
        height: 225px;
    }

    .txt-footer {
        width: auto;
        text-align: center;
    }
    .txt-footer h1 {
        font-size: 1.5em;
    }

    .butoes-footer {
        width: 100%;
    }

    .botao-join {
        padding: 15px 30px;
    }

    .info-finais {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 15px;
        height: auto;
    }

    .about-company-footer {
        grid-area: 1 / 1 / 2 / 3;
        height: 200px;
    }

    .quick-links{
        height: 175px;
    }

    .quick-links ul {
        height: 70%;
    }

    .quick-links h2 {
        font-size: 1em;
        display: inline-block;
    }

    .download-app {
        grid-area: 3 / 1 / 4 / 3;
        height: 175px;
        
    }

    .txt-download {
        height: 56%;

    }

    .botao-download {
        flex-direction: row;
        width: auto;
        height: auto;
        align-items: r;
    }

    .botao-download a {
        display: flex;
        align-items: center;
    }
}