
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--fundo);
}

:root {
    --titulo: #040240;
    --roxo1: #8d60f0;
    --roxo2: #b181f5;
    --fundo: #F0F0F2;
    --sombra: 0 4px 8px rgba(0, 0, 0, 0.337);
    --transition1: 1s ease;
    --distpg: 50px 0;
    --radius: 25px;
}

.auto {
    max-width: 1250px;
    margin: auto;
    padding: var(--distpg);
    min-width: 1125px;
}

.fundo {
    background-color: var(--fundo);
}

.fundo3 {
    background-color: var(--roxo2);
    
}

