
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--fundo);
}

:root {
    --titulo: #040240;
    --roxo1: #8d60f0;
    --roxo2: #b181f5;
    --fundo: #F0F0F2;
    --sombra: 0 4px 8px rgba(0, 0, 0, 0.337);
    --transition1: 1s ease;
    --distpg: 50px 0;
    --radius: 25px;
}

.auto {
    max-width: 1250px;
    margin: auto;
    padding: var(--distpg);
}

.fundo {
    background-color: var(--fundo);
}

.fundo3 {
    background-color: var(--roxo2);
    
}

@media screen and (min-width: 800px) and (max-width: 1125px) {
    .auto {
        padding: 50px 0;
        max-width: 800px; 
        margin: auto;
    }
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .auto {
        padding: 25px 0;
        max-width: 360px;
        margin: auto;
    }

    p {
        font-size: 0.85em;
    }

    .corte-responsividade {
        display: none;
    }
}