
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 55px;
        border-radius: 65px;
        max-width: 1200px;
        min-width: 1125px;
        margin: auto;
        box-shadow: var(--sombra);
        background-color: var(--fundo);
    }
    
    .logopay {
        width: 8em;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        align-items: center;
    }

    nav a {
        padding: 15px;
        text-decoration: none;
        color: black;
        margin: 0 10px;
        width: 60px;
        text-align: center;
        display: inline-block;
    }

    nav a:hover {
        background-color: var(--roxo1);
        border-radius: 65px;
        color: white;
        transition: var(--transition1);
    }

    .download a{
        width: 15%;
        padding: 15px 20px;
        background-color: var(--roxo1);
        border-radius: 65px;
        font-size: 1.1em;
        text-decoration: none;
        color: white;
        transition: var(--transition1);
    }

    .download a:hover {
        box-shadow: var(--sombra);
        background-color: white;
        color: var(--roxo1);
    }

    .download img{
        width: 0.8em;
        margin-right: 3px;
    }

    #menu-header {
        display: none;
    }

    #info-header {
        display: flex;
        align-items: center;
    }



    @media screen and (min-width: 800px) and (max-width: 1125px) {

        header {
            min-width: 800px;
            max-width: 1000px;
            padding: 15px 45px;
        }

        footer .auto {
            
        }

        nav {
            width: 70%;
        }

        nav a {
            padding: 10px;
            
        }

        .download {
            display: none;
        }
    }

    @media screen and (min-width: 375px) and (max-width: 800px) {
        .efeitoback {
            padding-top: 0;
        }

        header {
            min-width: 375px;
            max-width: 800px;
            border-radius: 0;
            padding: 15px 15px;
        }

        .logopay {
            width: 4.5em;
            
        }

        nav {
            display: none;
        }

        .download a {
            padding: 7px 12px;
            font-size: 0.8em;
        }

        .download img {
            width: 10px;
        }

        #menu-header {
            display: inline-block;
            width: 30px;
        }
    }
    