.pg1 {
    display: grid;
    grid-template-columns: 4.5fr 6.5fr;
    grid-template-rows: 5.5fr 1fr;
    gap: 40px;
}

.img-principal-pg1 {
    grid-area: 1 / 1 / 2 / 2;
}

.img-principal-pg1 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.avaliacoes-pg1 {
    grid-area: 1 / 2 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-pg1 {
    height: 30%;
}

.titulo-pg1 h1 {
    font-size: 2.6em;
    margin: 20px 0;
    display: inline-block;
    color: var(--titulo);
}

.caixas-ava {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-cx-ava {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 83%;
}

.text-cx-ava h2 {
    font-size: 1.2em;
}

.text-cx-ava p {
   margin-top: 10px;
}

.cx-avaliacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cx-avaliacoes img {
    width: 100px;
    height: 100px;
}


.about-company {
    display: flex;
    align-items: center;
}

.about-company h2 {
    margin: 0 10px;
    font-size: 1em;
    color: var(--titulo);
}

.about-company img {
    width: 18px;
    height: 18px;
}

.dados-pg1 {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.cx-dados-pg1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destaque-dados-pg1 {
    color: var(--roxo1);
    font-size: 2.3em;
}

.descr-dados-pg1 {
    margin: 15px auto;
}

@media screen and (min-width: 800px) and (max-width: 1125px) {      
    .pg1 {
        grid-template-columns: 1fr 1.2fr;
        grid-template-rows: 5.8fr 1fr;
        gap: 25px;
    }

    .avaliacoes-pg1 {
        justify-content: flex-start;
    }

    .titulo-pg1 {
        height: auto;
    }

    .titulo-pg1 h1 {
        font-size: 2em;
        margin: 15px 0 20px 0;
    }

    .caixas-ava {
        height: 80%;
        justify-content: space-around;
    }

    .cx-avaliacoes {
        height: auto;
        align-items: flex-start;
    }

    .cx-avaliacoes img {
       width: 100px;
       height: 100px;

    }

    .text-cx-ava {
        width: 73%;
    }

    .text-cx-ava h2 {
        font-size: 1em;
    }

    .text-cx-ava p {
        margin: 5px 0;
        font-size: 0.9em;
    }

    .img-principal-pg1 img {
        height: 100%;
    }

    .destaque-dados-pg1 {
        font-size: 2em;
    }

    .descr-dados-pg1 {
        margin: 10px auto;
    }

    .cx-avaliacoes-tested {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 800px) {
    .pg1 {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .avaliacoes-pg1 {
        order: 1;
    }

    .about-company h2 {
        font-size: 0.9em;
    }

    .about-company img {
        width: 15px;
        height: 15px;
    }

    .titulo-pg1 h1 {
        font-size: 1.5em;
    }

    .caixas-ava {
        height: auto;
    }


    .cx-avaliacoes h2 {
        font-size: 1em;
    }

    .cx-avaliacoes img {
        width: 75px;
        height: 75px;
    }

    .cx-avaliacoes-tested {
        display: none;
    }

    .text-cx-ava {
        width: 75.5%;
    }

    .img-principal-pg1 {
        order: 2;
        margin: auto;
    }

    .img-principal-pg1 img {
        width: 320px;
    }
    

    .dados-pg1 {
        order: 3;

    }

    .destaque-dados-pg1 {
        font-size: 1.3em;
    }
}

